<div id="content">
			 <!--Carousel-->
  <div class="container">
    <div class="row row-content"><div class="col-xs-12">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
                <ol class="carousel-indicators hidden">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>
    <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="img-responsive"
                         src="matchingGame.jpg" alt="Matching Game">
                        <div class="carousel-caption">
                        <h2 style="color:brown; font-weight:bold;">Matching Game</h2>
                        <p><!--Text Goes Here!!!!!--></p>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="matching_game.html">Check It Out! &raquo;</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="hangman.jpg" alt="Hangman RPG">
                    <div class="carousel-caption">
                        <h2>Hangman RPG</h2>
                        <p><!--Text Goes Here!!!!!--></p>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://hangman-rpg.herokuapp.com">Check It Out! &raquo;</a></p>  
                    </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="marvel.jpg" alt="Marvel Turn Based RPG">
                        <div class="carousel-caption">
                        <h2>Marvel Turn Based RPG</h2>
                        <p><!--Text Goes Here!!!!!--></p>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://marvel-jquery-rpg.herokuapp.com">Check It Out! &raquo;</a></p>
                    </div>
                    </div>

                     <div class="item">
                        <img class="img-responsive" src="trivia.jpg" alt="Anime Trivia Game">
                        <div class="carousel-caption">
                        <h2>Anime Trivia Game</h2>
                        <p><!--Text Goes Here!!!!!--></p>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://otaku-trivia-game.herokuapp.com">Check It Out! &raquo;</a></p>
                    </div>
                    </div>

                    <div class="item">
                        <img class="img-responsive" src="textingApp.jpg" alt="Mobile Texting Application">
                        <div class="carousel-caption">
                        <h2 style="color:black">Mobile Texting Application</h2>
                        <p><!--Text Goes Here!!!!!--></p>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://texting-application.herokuapp.com/">Check It Out! &raquo;</a></p>
                    </div>
                    </div>

                    <div class="item">
                        <img class="img-responsive" src="timeHub.jpg" alt="TimeHub Application">
                        <div class="carousel-caption">
                        <h2 style="color:yellow; font-weight:bold;">TimeHub Application</h2>
                        <p><!--Text Goes Here!!!!!--></p>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://time-hub.herokuapp.com/">Check It Out! &raquo;</a></p>
                    </div>
                    </div>

                     <div class="item">
                        <img class="img-responsive" src="survey.jpg" alt="RPG Character Survey Application">
                        <div class="carousel-caption">
                        <h2 style="color:black; font-weight:bold;">RPG Character Survey Application</h2>
                        <p><!--Text Goes Here!!!!!--></p>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://character-survey.herokuapp.com/">Check It Out! &raquo;</a></p>
                    </div>
                    </div>

                     <div class="item">
                        <img class="img-responsive" src="pokemon.jpg" alt="Pokemon Game Application">
                        <div class="carousel-caption">
                        <h2 style="color:white; font-weight:bold;">Pokemon Game Application</h2>
                        <p><!--Text Goes Here!!!!!--></p>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://pokemon-application.herokuapp.com/">Check It Out! &raquo;</a></p>
                    </div>
                    </div>
                </div>

      <!-- Controls -->
                <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
         
   
            </div>
  </div>
  </div>
  </div>
		</div><!-- #content -->