<div id="content">
			 <!--Carousel-->
  <div class="container">
    <div class="row row-content"><div class="col-xs-12">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
                <ol class="carousel-indicators hidden">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>
    <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="img-responsive"
                         src="matchingGame.jpg" alt="Matching Game">
                        <div class="carousel-caption">
                        <h2 style="color:brown; font-weight:bold;">Matching Game</h2>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="matching_game.html" data-content="A picture matching game, built after a month of learning how to code, using html, css, and javascript. A top score element was added later using firebase." data-placement="top" title="Matching Game" data-trigger="hover">Check It Out! &raquo;</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="hangman.jpg" alt="Hangman RPG">
                    <div class="carousel-caption">
                        <h2>Hangman RPG</h2>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://hangman-rpg.herokuapp.com" data-content="An interactive hangman game in the style of an old school role playing game. Made using html, css, and javascript." data-placement="top" title="Hangman Game" data-trigger="hover">Check It Out! &raquo;</a></p>  
                    </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="marvel.jpg" alt="Marvel Turn Based RPG">
                        <div class="carousel-caption">
                        <h2>Marvel Turn Based RPG</h2>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://marvel-jquery-rpg.herokuapp.com" data-content="A turn based role playing game based off the Marvel Universe, built using html, css, and jquery. Features include: dynamically changing health, multiple allies and enemies, critical hits, and win/lose scenerios." data-placement="top" title="Marvel Turn Based RPG" data-trigger="hover">Check It Out! &raquo;</a></p>
                    </div>
                    </div>

                     <div class="item">
                        <img class="img-responsive" src="trivia.jpg" alt="Anime Trivia Game">
                        <div class="carousel-caption">
                        <h2>Anime Trivia Game</h2>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://otaku-trivia-game.herokuapp.com" data-content="A trivia game featuring dynamically changing components and counter system. Made using html, css, and jquery." data-placement="top" title="Anime Trivia Game" data-trigger="hover">Check It Out! &raquo;</a></p>
                    </div>
                    </div>

                    <div class="item">
                        <img class="img-responsive" src="textingApp.jpg" alt="Mobile Texting Application">
                        <div class="carousel-caption">
                        <h2 style="color:black">Mobile Texting Application</h2>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://texting-application.herokuapp.com/" data-content="A mobile texting application made using Ionic Framework, Angular Js, Firebase, and AngularFire. Displays a dynamic chat feed as well as a GIF adding feature." data-placement="top" title="Mobile Texting App" data-trigger="hover">Check It Out! &raquo;</a></p>
                    </div>
                    </div>

                    <div class="item">
                        <img class="img-responsive" src="timeHub.jpg" alt="TimeHub Application">
                        <div class="carousel-caption">
                        <h2 style="color:yellow; font-weight:bold;">TimeHub Application</h2>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://time-hub.herokuapp.com/" data-content="A work efficiency tracker made for organizations with routine daily tasks. Presents employees with an interface which displays tasks and tracks the time done for each. For each task completion time, it is charted into a bar graph, with the manager’s expected time. Also allows user registration and authenticaiton." data-placement="top" title="TimeHub" data-trigger="hover">Check It Out! &raquo;</a></p>
                    </div>
                    </div>

                     <div class="item">
                        <img class="img-responsive" src="survey.jpg" alt="RPG Character Survey Application">
                        <div class="carousel-caption">
                        <h2 style="color:black; font-weight:bold;">RPG Character Survey Application</h2>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://character-survey.herokuapp.com/" data-content="A survey application determing one's character in a role playing game due to personality and choices. Made using jquery, node js, and express js." data-placement="top" title="Character Survey Application" data-trigger="hover">Check It Out! &raquo;</a></p>
                    </div>
                    </div>

                     <div class="item">
                        <img class="img-responsive" src="pokemon.jpg" alt="Pokemon Game Application">
                        <div class="carousel-caption">
                        <h2 style="color:white; font-weight:bold;">Pokemon Game Application</h2>
                        <p><a target="_blank" class="btn btn-primary btn-xs" href="https://pokemon-application.herokuapp.com/" data-content="A pokemon game allowing one to catch every pokemon via random generation and then is stored to see later. Made using jquery, node js, express js, handlebars js, and mysql." data-placement="top" title="Pokemon Game" data-trigger="hover">Check It Out! &raquo;</a></p>
                    </div>
                    </div>
                </div>

      <!-- Controls -->
                <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
         
   
            </div>
  </div>
  </div>
  </div>
		</div><!-- #content -->

<script>
$('.img-responsive').mouseover(function(){
    $('a').popover();
})
</script>